
{{>_admin_sidebar}}
    <div class="main-panel">
    {{>_navbar}}
    <div class="content">
      {{>_msg}}
       <div class="container-fluid">
         <div class="row">
           <div class="col-md-12">
             <div class="card">
               <div class="card-header card-header-danger">
                 <h4 class="card-title text-white ">Blacklisted Members</h4>
                 <p class="card-category"></p>
               </div>
               <div class="card-body">
                 <div class="table-responsive">
                   <table class="table">

                    <form class="" action="" method="post">
                      <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search...">
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                          <i class="material-icons">search</i>
                          <div class="ripple-container"></div>
                        </button>
                      </div>
                    </form>
                     <thead class=" text-primary">
                       <th></th>
                       <th></th>
                       <th>Name</th>
                       <th>Phone</th>
                       <th>Email</th>
                       <th>Location</th>
                       <th>Status</th>
                       <th>loanamount</th>
                       <th>interest</th>
                       <th></th>
                     </thead>
                     <tbody>
                        {{#each blacklist }}
                       <tr>
                         <td>
                           <form class="" action="/admin/unblacklist/{{id}}" method="post">
                           <button type="submit" rel="tooltip" title="Remove" class="btn btn-success">Unblacklist
                           </button>
                           </form>
                          </td>
                         <td><form method="post" action="/admin/{{id}}?_method=DELETE">
                         <input type="hidden" name="_method" value="DELETE">
                         <input type="submit" class="btn btn-danger" value="Delete">
                       </form></td>
                         <td>{{firstName}}</td>
                         <td>{{phone}}</td>
                         <td>{{email}}</td>
                         <td>{{location}}</td>
                         <td>{{status}}</td>
                         <td>{{loanamount}}</td>
                         <td>{{interest}}</td>
                       </tr>
                       {{/each}}
                     </tbody>
                   </table>
                 </div>
               </div>
             </div>
           </div>
